body{
    display: flex;
    flex-direction: column;
    background-color: gray;
}

header{
	width: 100%; /*Sempre preencher toda largura da página */
	height: 150px;
	background-color: rgb(170, 123, 22);
	text-align:start;
    font-family: Arial;
    margin-left:20px;
    color: black;
    width:95%;
    height:15%;
}

#menu {
    display: flex;
	width: 20%;
    height: 30%;
    flex-direction: row;
    background-color:rgb(170, 123, 22) ;
}

#botao{
    margin:3%
}

main{
    display: flex;
    height: 100%;
    padding-left: 10%;
    padding-top: 3%;
}





