body{
    display: flex;
    background-color: gray;
}
header{
	width: 100%; /*Sempre preencher toda largura da página */
	height: 150px;
	background-color: rgb(170, 123, 22);
	text-align:start;
    font-family: Arial;
    margin-left:20px;
    color: black;
    width:95%;
    height:15%;
    border-radius:25px;
}

content{
    display: flex;
    flex-direction: column;
    width: 100%;
	height: 700px;

}
#menu {
    display: flex;
	width: 20%;
    height: 900px;
    flex-direction: column;
    background-color:rgb(170, 123, 22) ;
}

#botao{
    margin:3%
}

#produtos{
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.card{
    display:flex;
    justify-content: center;
}



